{
  "plugins": ["react", "prettier"],
  "extends": ["airbnb", "eslint:recommended", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never"
      }
    ],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "globals": 0,
    "max-len": ["error", { "code": 120, "ignoreUrls": true }],
    "semi": [2, "never"],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
